@include b(grid-layout) {
  position: relative;
  z-index: 10;
  width: 100% !important;
  height: 100% !important;

  @include e(main) {
    width: 100%;
    height: 100%;
    position: relative;
    // overflow: hidden;
  }
  @include e(auxiliaryLine) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    > div {
      border: 1px dashed rgba(255, 255, 255, 0.2);
    }
  }
  @include e(item) {
    width: 100%;
    height: 100%;
    display: flex;
    flexdirection: column;
  }
  @include e(close) {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px !important;
    height: 20px !important;
    background: #000;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: all 0.25s ease 0s;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      transform: rotate(135deg);
    }
    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      background: #fff;
    }
    &:before {
      transform: rotate(90deg);
    }
  }
  .react-resizable-handle {
    z-index: 1000;
    width: 30px;
    height: 30px;
    &:after {
      right: 6px;
      bottom: 6px;
      border-right-color: #fff;
      border-bottom-color: #fff;
    }
  }
}
