@include b(config-layout) {
  @include e(rightAside) {
    display: flex;
    @include m(tabs) {
      width: 50px;
      padding: 0 4px;
      box-sizing: border-box;
      background: var(--cms-top-background-color);
      border-left: 1px solid var(--cms-divider-color);
    }
    @include m(tabItem) {
      width: 100%;
      height: 40px;
      margin-top: 4px;
      line-height: 40px;
      cursor: pointer;
      border-radius: 8px;
      i {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        color: var(--cms-text-color-secondary);
      }
      @include when(active) {
        background: var(--cms-primary-color);
        i {
          color: var(--cms-text-color-primary);
        }
      }
    }
    @include m(tabContent) {
      background: var(--cms-background-color-secondary);
      border-left: 1px solid var(--cms-divider-color);
    }
  }
}
