@include b(config-layout) {
  @include e(project) {
    .page {
      font-size: 12px;
      &-header {
        height: 30px;
        padding-left: 10px;
        line-height: 30px;
        color: var(--cms-text-color-secondary);
        background: var(--cms-background-color-primary);
        border-bottom: 1px solid var(--cms-divider-color);
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 30px;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--cms-text-color-secondary);
        border-bottom: 1px solid var(--cms-divider-color);
        .controls {
          cursor: pointer;
          color: var(--cms-text-color-secondary);
        }
        @include when(active) {
          font-weight: bold;
          color: var(--cms-text-color-primary);
        }
      }
      &-footer {
        margin: 10px;
      }
    }
  }
}

.ant-popover-inner {
  padding: 6px 12px !important;
}
.project-controls {
  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    transform: all 0.25s ease 0s;
    &:hover {
      color: var(--cms-text-color-primary);
    }
  }
}
