@include b(drag) {
  @include e(item) {
    text-align: center;
    &:hover {
      .cms-drag__item--footer {
        color: var(--cms-text-color-primary);
        font-weight: bold;
      }
    }
    @include m(body) {
      padding-top: 15px;
    }
    @include m(footer) {
      line-height: 24px;
      padding-top: 5px;
      text-align: center;
      transition: all 0.25s ease 0s;
      color: var(--cms-text-color-secondary);
    }
  }
}
