@include b(config-layout) {
  @include e(main) {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    overflow: hidden;
    background: url(../../../../assets/images/configBg.png) repeat;
    background-position: 22px 22px;
  }
  @include e(body) {
    flex: 1;
    overflow: auto;
  }
  @include e(footer) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px;
    height: 40px;
    font-size: 12px;
    background: var(--cms-background-color-primary);
    border-top: 1px solid var(--cms-divider-color);
  }
  @include e(center) {
    width: 5000px;
    height: 3000px;
    padding: 66px;
    box-sizing: border-box;
    position: relative;
    .cms-widget {
      max-width: 600px !important;
      max-height: 400px !important;
    }
  }
  @include e(bottom) {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    background: var(--cms-background-color-secondary);
  }
}
