@include b(config-layout) {
  @include e(main) {
    position: relative;
    flex: 1;
    overflow: hidden;
    background: url(../../../../assets/images/configBg.png) repeat;
    background-position: 22px 22px;
  }
  @include e(center) {
    width: 100%;
    height: 100%;
    padding: 66px;
    box-sizing: border-box;
    position: relative;
  }
  @include e(bottom) {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    background: var(--cms-background-color-secondary);
  }
}
