@include b(frame-layout) {
  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 0 18px;
    background: var(--cms-top-background-color);
    @include m(left) {
      display: flex;
      align-items: center;
      h1 {
        margin: 0;
        padding-left: 6px;
        padding-right: 20px;
        font-size: 18px;
      }
      .ant-breadcrumb li:last-child {
        color: var(--cms-text-color-secondary);
      }
    }
    @include m(right) {
      display: flex;
      align-items: center;
    }
  }
}

@include b(avatar) {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--cms-background-color-primary);
}

@include b(user) {
  display: flex;
  align-items: center;
  .anticon {
    margin-left: 5px;
    color: var(--cms-divider-color);
  }
  @include e(name) {
    color: var(--cms-secondary-color);
  }
}

@include b(user-dropdown) {
  .ant-dropdown-menu {
    background: var(--cms-background-color-secondary);
  }
  .ant-dropdown-menu-item {
    color: var(--cms-text-color-secondary) !important;
    .anticon {
      margin-right: 5px;
    }
  }
}

@include b(theme) {
  @include e(select) {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
      .cms-theme__select--body {
        opacity: 1;
        transform: scale(1);
      }
    }
    @include m(header) {
      width: 16px;
      height: 16px;
      border: 2px solid var(--cms-divider-color);
      background: var(--cms-background-color-primary);
      border-radius: 5px;
    }
    @include m(item) {
      width: 16px;
      height: 16px;
      margin-top: 5px;
      border: 2px solid var(--cms-divider-color);
      border-radius: 5px;
    }
    @include m(body) {
      transition: all 0.25s ease 0s;
      opacity: 0;
      transform: scale(0);
      transform-origin: top center;
      position: absolute;
      top: 25px;
      left: 0;
      padding: 5px 10px 10px 10px;
      border-radius: 3px;
      background: var(--cms-background-color-primary);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
  }
}
